<html lang="en">
<head>
    <title>气清商城</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="./images/favicon.ico"/>
    <!--    <link rel="shortcut icon" type="image/x-icon" href="./images/favicon.png"/>-->
    <!--    <link rel="shortcut icon" href="./images/favicon.ico"/>-->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i&display=swap"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,700i&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./css/bootstrap.min.css">
    <link rel="stylesheet" href="./css/font-awesome.min.css">
    <link rel="stylesheet" href="./css/owl.carousel.min.css">
    <link rel="stylesheet" href="./css/animate.min.css">
    <link rel="stylesheet" href="./css/jquery-ui.css">
    <link rel="stylesheet" href="./css/slick.css">
    <link rel="stylesheet" href="./css/chosen.min.css">
    <link rel="stylesheet" href="./css/pe-icon-7-stroke.css">
    <link rel="stylesheet" href="./css/magnific-popup.min.css">
    <link rel="stylesheet" href="./css/lightbox.min.css">
    <link rel="stylesheet" href="./js/fancybox/source/jquery.fancybox.css">
    <link rel="stylesheet" href="./css/jquery.scrollbar.min.css">
    <link rel="stylesheet" href="./css/mobile-menu.css">
    <link rel="stylesheet" href="./fonts/flaticon/flaticon.css">
    <link rel="stylesheet" href="./css/style.css">
    <script type="text/javascript" src="./lib/layui/layui.js" charset="utf-8"></script>
</head>
<body class="productsgrid-page">
<header class="header style7">
    <div class="top-bar">
        <div class="container">
            <div class="top-bar-left">
                <div class="header-message">
                    欢迎来到气清!
                </div>
            </div>
            <div id="loginbar" class="top-bar-right">
                <div class="header-language">
                    <div class="teamo-language ">
                        <a href="http://www.qk.com/login" class="active language-toggle">
								<span>
									请登录
								</span>
                        </a>
                    </div>
                </div>
                <ul class="header-user-links">
                    <li>
                        <a href="http://www.qk.com/regist">注册</a>
                    </li>
                </ul>
                <!--                <ul class="header-user-links">-->
                <!--                    <li>-->
                <!--                        <a href="#">个人中心</a>-->
                <!--                    </li>-->
                <!--                </ul>-->
            </div>
        </div>
    </div>
    <div class="header-nav-container">
        <div class="container">
            <div class="header-nav-wapper main-menu-wapper">
                <div class="header-nav">
                    <div class="container-wapper">
                        <ul class="teamo-clone-mobile-menu teamo-nav main-menu " id="menu-main-menu">
                            <li class="menu-item  menu-item-has-children">
                                <a href="#" class="teamo-menu-item-title" title="Home">全部商品</a>
                            </li>
                            <li class="menu-item menu-item-has-children">
                                <a href="#" class="teamo-menu-item-title" title="Shop">购物车</a>
                            </li>
                            <li class="menu-item  menu-item-has-children item-megamenu">
                                <a href="#" class="teamo-menu-item-title" title="Pages">订单</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="main-header">
                <div class="row">
                    <div class="col-lg-3 col-sm-4 col-md-3 col-xs-7 col-ts-12 header-element">
                        <div class="logo">
                            <a href="http://www.qk.com/index">
                                <img src="./images/logo.png" alt="img">
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-7 col-sm-8 col-md-6 col-xs-5 col-ts-12">
                        <div class="block-search-block">
                            <form class="form-search form-search-width-category">
                                <div class="form-content">
                                    <div class="inner">
                                        <input type="text" class="input" name="s" value="" placeholder="输入商品名称">
                                    </div>
                                    <button class="btn-search" type="submit">
                                        <span class="icon-search"></span>
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="main-content main-content-product no-sidebar">
    <div class="container">
        <div class="row">
            <div class="content-area shop-grid-content full-width col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="site-main">
                    <ul class="row list-products auto-clear equal-container product-grid">
                        <li class="product-item  col-lg-3 col-md-4 col-sm-6 col-xs-6 col-ts-12 style-1">

                            <!--								<div class="product-inner equal-element">-->
                            <!--									<div class="product-thumb">-->
                            <!--										<div class="thumb-inner">-->
                            <!--											<a href="#">-->
                            <!--												<img src="./images/product-item-1.jpg" alt="img">-->
                            <!--											</a>-->
                            <!--										</div>-->
                            <!--									</div>-->
                            <!--									<div class="product-info">-->
                            <!--										<h5 class="product-name product_title">-->
                            <!--											<a href="#">小米空气净化器2S</a>-->
                            <!--										</h5>-->
                            <!--										<div class="group-info">-->
                            <!--											<div class="price">-->
                            <!--													￥2.1-->
                            <!--											</div>-->
                            <!--										</div>-->
                            <!--									</div>-->
                            <!--								</div>-->

                            <div style="margin-top:70px;" id="product"></div>
                            <!--商品展示-->

                        </li>
                    </ul>
                    <div class="pagination clearfix style2" style="margin-top:640px;margin-left:200px;">
                        <div class="nav-link" id="layuipage"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<a href="#" class="backtotop">
    <i class="fa fa-angle-double-up"></i>
</a>

<script src="./js/jquery-1.12.4.min.js"></script>
<script src="./js/jquery.plugin-countdown.min.js"></script>
<script src="./js/jquery-countdown.min.js"></script>
<script src="./js/bootstrap.min.js"></script>
<script src="./js/owl.carousel.min.js"></script>
<script src="./js/magnific-popup.min.js"></script>
<script src="./js/isotope.min.js"></script>
<script src="./js/jquery.scrollbar.min.js"></script>
<script src="./js/jquery-ui.min.js"></script>
<script src="./js/mobile-menu.js"></script>
<script src="./js/chosen.min.js"></script>
<script src="./js/slick.js"></script>
<script src="./js/jquery.elevateZoom.min.js"></script>
<script src="./js/jquery.actual.min.js"></script>
<script src="./js/fancybox/source/jquery.fancybox.js"></script>
<script src="./js/lightbox.min.js"></script>
<script src="./js/owl.thumbs.min.js"></script>
<script src="./js/jquery.scrollbar.min.js"></script>
<!--<script src='https://ditu.google.cn/maps/api/js?key=AIzaSyC3nDHy1dARR-Pa_2jjPCjvsOR4bcILYsM'></script>-->
<script src="./js/frontend-plugin.js"></script>
<script src="./js/jquery.cookie.js"></script>
<script type="text/javascript">
    var TT = QK = {
        checkLogin: function () {
            var _ticket = $.cookie("QK_TICKET");
            if (!_ticket) {
                return;
            }
            //当dataType类型为jsonp时，jQuery就会自动在请求链接上增加一个callback的参数
            $.ajax({
                url: "http://sso.qk.com/user/query/" + _ticket,
                dataType: "jsonp",
                type: "GET",
                success: function (data) {
                    if (data.status == 200) {
                        //要求获取的是user的JSON串
                        var _data = JSON.parse(data.data);//将JSON串转化为对象
                        var html = "<div class='top-bar-right'><div id='loginbar'><ul class='header-user-links'><li><a href=\"/user/logout\" class=\"link-logout\"> " + _data.username + ",[退出]</a></li></ul><ul class=\"header-user-links\"> <li><a href=\"http://www.qk.com/user/setting\" class=\"link-setting\">个人中心</a></li></ul> </div> </div> ";
                        $("#loginbar").html(html);
                    }
                }
            });
        }
    }

    $(function () {
        // 查看是否已经登录，如果已经登录查询登录信息
        TT.checkLogin();
    });

    //    定义分页组件
    layui.use(['jquery', 'laypage'], function () {
        var $ = layui.jquery,
            laypage = layui.laypage;

        var page = 1;//当前页
        var limit = 16;//每页显示的数目
        var resCount, resData;
        var resPage = renderPage1();

        //渲染展示商品的html页面
        function renderProductHtml(data) {
            var str = "";//用来存储html内容
            if (data.length > 0) {
                $.each(data, function (v, o) {  //o.imgPath
                    str += "<div style='margin:auto; margin-bottom:130px;  width:150px; height:150px; float:left; text-align:center'><div><img alt='' src='" + " " + "' width='150px' height='150px'/></div>";
                    str += "<div style='text-align:left'><div><label>商品名称:</label><span>" + o.productName + "</span></div>";
                    str += "<div><label>价格:</label><span style='color:#FF3030;'>￥" + o.price + "</span></div>";
                    str += "<div><label>新旧程度:</label><span>" + o.degree + "</span></div>";
                    str += "<div><label>销量:</label><span style='color:#CDC9C9;'>" + o.sales + "</span>";
                    str += "<label>库存:</label><span style='color:#CDC9C9;'>" + o.stock + "</span></div>";
                    str += "<div style='display:none;'><label>商品ID:</label><span>" + o.product_id + "</span></div></div></div>";
                });
                $("#product").html(str);
            }

        }


        //同步加载商品数据
        function renderProduct(page, limit) {
            $.ajax({
                async: false,
                url: '/product/getProductPage',
                data: {"page": page, "limit": limit},
                dataType: 'json',
                success: function (result) {
                    console.info(result);
                    resCount = result.count;
                    resData = result.data;
                    renderProductHtml(resData);
                }
            });
        }


        //分页的完整功能，page，limit，resCount都是自定义的全局变量
        function renderPage1() {
            renderProduct(page, limit);//关键
            laypage.render({
                elem: 'layuipage'//div的id，不能加#
                , count: resCount//数据总条数
                , limit: limit//每页显示多少条数据
                , limits: [limit]//可选择的 每页显示多少条数据
                , curr: page//当前页码
                , theme: '#77ff00'//分页导航栏的颜色，用了橘色
                , layout: ['first','count', 'prev', 'page', 'next', 'limit', 'refresh', 'skip','last']
                , jump: function (obj, first) {
                    console.info(obj);
                    page = obj.curr;
                    if (!first) {//如果不是首次加载，那么进行ajax同步获取数据请求
                        renderProduct(page, limit);//关键
                    }
                }
            });
        }
    });
</script>
</body>
</html>