<html lang="en">
<head>
    <title>气清商城</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="./images/favicon.ico"/>

    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i&display=swap"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,700i&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./css/bootstrap.min.css">
    <link rel="stylesheet" href="./css/font-awesome.min.css">
    <link rel="stylesheet" href="./css/owl.carousel.min.css">
    <link rel="stylesheet" href="./css/animate.min.css">
    <link rel="stylesheet" href="./css/jquery-ui.css">
    <link rel="stylesheet" href="./css/slick.css">
    <link rel="stylesheet" href="./css/chosen.min.css">
    <link rel="stylesheet" href="./css/pe-icon-7-stroke.css">
    <link rel="stylesheet" href="./css/magnific-popup.min.css">
    <link rel="stylesheet" href="./css/lightbox.min.css">
    <link rel="stylesheet" href="./js/fancybox/source/jquery.fancybox.css">
    <link rel="stylesheet" href="./css/jquery.scrollbar.min.css">
    <link rel="stylesheet" href="./css/mobile-menu.css">
    <link rel="stylesheet" href="./fonts/flaticon/flaticon.css">
    <link rel="stylesheet" href="./css/style.css">
</head>
<body class="home">
<header class="header style2">
    <div class="top-bar">
        <div class="container">
            <div class="top-bar-left">
                <div class="header-message">
                    欢迎来到气清!
                </div>
            </div>
            <div class="top-bar-right">
                <div id="loginbar">
                    <ul class="header-user-links">
                        <li>
                            <a href="http://www.qk.com/login">请登录</a>
                        </li>
                    </ul>
                    <ul class="header-user-links">
                        <li>
                            <a href="http://www.qk.com/regist">注册</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="main-header">
            <div class="row">
                <div class="col-lg-4 col-sm-6 col-md-4 col-xs-7 col-ts-12 header-element">
                    <div class="block-search-block">
                        <form class="form-search">
                            <div class="form-content">
                                <div class="inner">
                                    <input type="text" class="input" name="s" value="" placeholder="输入商品名称" id="productName">
                                    <button class="btn-search" type="button" id="searchProduct" >
                                        <span class="icon-search"></span>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 col-md-4 col-xs-5 col-ts-12">
                    <div class="logo">
                        <a href="http://www.qk.com/index">
                            <img src="./images/logo.png" alt="logo">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="header-nav-container">
        <div class="container">
            <div class="header-nav-wapper main-menu-wapper">
                <div class="header-nav">
                    <div class="container-wapper">
                        <ul class="teamo-clone-mobile-menu teamo-nav main-menu " id="menu-main-menu">
                            <li class="menu-item  menu-item-has-children">
                                <!--                                <a href="allproducts.html" class="teamo-menu-item-title" title="Home">全部商品</a>-->
                                <a href="http://www.qk.com/allproducts" class="teamo-menu-item-title">全部商品</a>
                                <!--                                http://www.qk.com/allproducts-->
                            </li>
                            <li class="menu-item menu-item-has-children">
                                <a href="http://www.qk.com/shoppingcart" class="teamo-menu-item-title">购物车</a>
                            </li>
                            <li class="menu-item  menu-item-has-children item-megamenu">
                                <a href="#" class="teamo-menu-item-title">订单</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>
</header>
<div class="">
    <div class="fullwidth-template">
        <div class="home-slider fullwidth rows-space-60">
            <div class="slider-owl owl-slick equal-container nav-center equal-container"
                 data-slick='{"autoplay":true, "autoplaySpeed":10000, "arrows":true, "dots":true, "infinite":true, "speed":800, "rows":1}'
                 data-responsive='[{"breakpoint":"2000","settings":{"slidesToShow":1}}]'>
                <div class="slider-item style4">
                    <div class="slider-inner equal-element">
                        <div class="container">
                            <div class="slider-infor">
                                <h5 class="title-small">
                                    现在 每日 降价 40% !
                                </h5>
                                <h3 class="title-big">
                                    新的 生活 品质<br/>
                                    气清 租用
                                </h3>
                                <div class="price">
                                    最新 价格:
                                    <span class="number-price">
												￥1.2/天
											</span>
                                </div>
                                <a href="http://www.qk.com/allproducts" class="button btn-shop-the-look bgroud-style">立刻
                                    租用</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="slider-item style5">
                    <div class="slider-inner equal-element">
                        <div class="container">
                            <div class="slider-infor">
                                <h5 class="title-small">
                                    活动 正在 进行!
                                </h5>
                                <h3 class="title-big">
                                    热卖 中<br/>
                                    租用 送 随机 礼品
                                </h3>
                                <div class="when-code">
                                    活动 截止 日期:
                                    <span class="number-code">
												8月3日
											</span>
                                </div>
                                <a href="http://www.qk.com/allproducts" class="button btn-view-promotion bgroud-style">立刻
                                    租用</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="slider-item style6">
                    <div class="slider-inner equal-element">
                        <div class="container">
                            <div class="slider-infor">
                                <h5 class="title-small">
                                    生活 不能 不 气清!
                                </h5>
                                <h3 class="title-big">
                                    优质生活 <br/>
                                    为了你的健康
                                </h3>
                                <div class="price">
                                    一天气清:
                                    <span class="number-price">
												1瓶水的价格
											</span>
                                </div>
                                <a href="http://www.qk.com/allproducts" class="button btn-lets-create bgroud-style">立刻
                                    租用</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="banner-video-wrapp rows-space-40 type2">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="banner">
                            <div class="item-banner style9">
                                <div class="inner">
                                    <div class="banner-content">
                                        <h4 class="teamo-subtitle">使用 省心</h4>
                                        <h3 class="title">更换滤芯很麻烦</h3>
                                        <div class="code">
                                            你来用
                                            <span class="nummer-code">我们更换</span>
                                        </div>
                                        <a href="http://www.qk.com/allproducts" class="button btn-shop-now">立刻 租用</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="banner">
                            <div class="item-banner style9 type1">
                                <div class="inner">
                                    <div class="banner-content">
                                        <h4 class="teamo-subtitle">空气净化器不熟悉</h4>
                                        <h3 class="title">产品我们把关</h3>
                                        <div class="code">
                                            你只需要
                                            <span class="nummer-code">选择适合</span>
                                        </div>
                                        <a href="http://www.qk.com/allproducts" class="button btn-shop-now">立刻 租用</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="banner-pinmap-wrapp rows-space-70">
            <div>
                <div class="banner">
                    <div class="item-banner style21">
                        <div class="inner">
                            <div class="banner-content container">
                                <div class="banner-content-inner">
                                    <h4 class="teamo-subtitle">气清 你的 空气</h4>
                                    <h3 class="title">
                                        现在<br/>
                                        <span>把森林搬进</span>家
                                    </h3>
                                    <div class="start-from">
                                        活动开始 <span>6月 22</span> 到 <span>8月 3</span>
                                    </div>
                                    <a href="http://www.qk.com/allproducts" class="button btn-shop-now">立刻 租用</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="footer-device-mobile">
    <div class="wapper">
        <div class="footer-device-mobile-item device-home">
            <a href="index.html">
					<span class="icon">
						<i class="fa fa-home" aria-hidden="true"></i>
					</span>
                Home
            </a>
        </div>
        <div class="footer-device-mobile-item device-home device-wishlist">
            <a href="#">
					<span class="icon">
						<i class="fa fa-heart" aria-hidden="true"></i>
					</span>
                Wishlist
            </a>
        </div>
        <div class="footer-device-mobile-item device-home device-cart">
            <a href="#">
					<span class="icon">
						<i class="fa fa-shopping-basket" aria-hidden="true"></i>
						<span class="count-icon">
							0
						</span>
					</span>
                <span class="text">Cart</span>
            </a>
        </div>
        <div class="footer-device-mobile-item device-home device-user">
            <a href="login.html">
					<span class="icon">
						<i class="fa fa-user" aria-hidden="true"></i>
					</span>
                Account
            </a>
        </div>
    </div>
</div>
<a href="#" class="backtotop">
    <i class="fa fa-angle-double-up"></i>
</a>
<script src="./js/jquery-1.12.4.min.js"></script>
<script src="./js/jquery.plugin-countdown.min.js"></script>
<script src="./js/jquery-countdown.min.js"></script>
<script src="./js/bootstrap.min.js"></script>
<script src="./js/owl.carousel.min.js"></script>
<script src="./js/magnific-popup.min.js"></script>
<script src="./js/isotope.min.js"></script>
<script src="./js/jquery.scrollbar.min.js"></script>
<script src="./js/jquery-ui.min.js"></script>
<script src="./js/mobile-menu.js"></script>
<script src="./js/chosen.min.js"></script>
<script src="./js/slick.js"></script>
<script src="./js/jquery.elevateZoom.min.js"></script>
<script src="./js/jquery.actual.min.js"></script>
<script src="./js/fancybox/source/jquery.fancybox.js"></script>
<script src="./js/lightbox.min.js"></script>
<script src="./js/owl.thumbs.min.js"></script>
<script src="./js/jquery.scrollbar.min.js"></script>
<!--<script src='https://ditu.google.cn/maps/api/js?key=AIzaSyC3nDHy1dARR-Pa_2jjPCjvsOR4bcILYsM'></script>-->
<script src="./js/frontend-plugin.js"></script>
<script src="./js/jquery.cookie.js"></script>
<script type="text/javascript">

    var TT = QK = {
        checkLogin: function () {
            var _ticket = $.cookie("QK_TICKET");

            if (!_ticket) {
                return;
            }
            //当dataType类型为jsonp时，jQuery就会自动在请求链接上增加一个callback的参数
            $.ajax({
                url: "http://sso.qk.com/user/query/" + _ticket,
                dataType: "jsonp",
                type: "GET",
                success: function (data) {
                    if (data.status == 200) {
                        //要求获取的是user的JSON串
                        var _data = JSON.parse(data.data);//将JSON串转化为对象
                        var html = "<div class='top-bar-right'><div id='loginbar'><ul class='header-user-links'><li><a href=\"/user/logout\" class=\"link-logout\"> "+  _data.username  +",[退出]</a></li></ul><ul class=\"header-user-links\"> <li><a href=\"http://www.qk.com/user/setting\" class=\"link-setting\">个人中心</a></li></ul> </div> </div> ";
                        $("#loginbar").html(html);
                    }
                }
            });
        }
    }
        // <a href="http://www.jt.com/user/logout" class="link-logout">[退出]</a> <a>个人中心</a>


    $(function () {
        // 查看是否已经登录，如果已经登录查询登录信息

        TT.checkLogin();
    });

    $('#searchProduct').click(function () {
        title =  $('#productName').val();
        console.log(title);
        window.location.href="http://www.qk.com/allproducts?"+title;
    })



</script>
</body>
</html>