<html lang="en">
<head>
	<title>Login</title>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="shortcut icon" type="image/x-icon" href="./images/favicon.png"/>
	<link href="https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,700i&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="./css/bootstrap.min.css">
	<link rel="stylesheet" href="./css/font-awesome.min.css">
	<link rel="stylesheet" href="./css/owl.carousel.min.css">
	<link rel="stylesheet" href="./css/animate.min.css">
	<link rel="stylesheet" href="./css/jquery-ui.css">
	<link rel="stylesheet" href="./css/slick.css">
	<link rel="stylesheet" href="./css/chosen.min.css">
	<link rel="stylesheet" href="./css/pe-icon-7-stroke.css">
	<link rel="stylesheet" href="./css/magnific-popup.min.css">
	<link rel="stylesheet" href="./css/lightbox.min.css">
	<link rel="stylesheet" href="./js/fancybox/source/jquery.fancybox.css">
	<link rel="stylesheet" href="./css/jquery.scrollbar.min.css">
	<link rel="stylesheet" href="./css/mobile-menu.css">
	<link rel="stylesheet" href="./fonts/flaticon/flaticon.css">
	<link rel="stylesheet" href="./css/style.css">
</head>
<body class="inblog-page">
	<div class="main-content main-content-login">
		<div class="container">
			<div class="row">
				<div class="content-area col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<div class="site-main">
						<h3 class="custom_blog_title">
							气清商城注册
						</h3>
						<div class="customer_login">
							<div class="row">
								<div class="col-lg-6 col-md-6 col-sm-12">
									<div class="login-item">
										<h5 class="title-login">现在注册</h5>
										<form class="register">
											<p class="form-row form-row-wide">
												<label class="text">邮箱</label>
												<input title="email" type="email" class="input-text">
											</p>
											<p class="form-row form-row-wide">
												<label class="text">手机号码</label>
												<input title="phone" type="email" class="input-text">
											</p>
											<p class="form-row form-row-wide">
												<label class="text">用户名</label>
												<input title="name" type="text" class="input-text">
											</p>
											<p class="form-row form-row-wide">
												<label class="text">密码</label>
												<input title="pass" type="password" class="input-text">
											</p>
											<p class="form-row form-row-wide">
												<label class="text">确认密码</label>
												<input title="pass2" type="password" class="input-text">
											</p>
											<p class="form-row">
												<span class="inline">
													<input type="checkbox" id="cb2">
													<label for="cb2" class="label-text">我同意 <span>用户准则 & 商城规则</span></label>
												</span>
											</p>
											<p class="">
												<input type="submit" class="button-submit" value="现在注册">
											</p>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<a href="#" class="backtotop">
		<i class="fa fa-angle-double-up"></i>
	</a>
	<script src="./js/jquery-1.12.4.min.js"></script>
	<script src="./js/jquery.plugin-countdown.min.js"></script>
	<script src="./js/jquery-countdown.min.js"></script>
	<script src="./js/bootstrap.min.js"></script>
	<script src="./js/owl.carousel.min.js"></script>
	<script src="./js/magnific-popup.min.js"></script>
	<script src="./js/isotope.min.js"></script>
	<script src="./js/jquery.scrollbar.min.js"></script>
	<script src="./js/jquery-ui.min.js"></script>
	<script src="./js/mobile-menu.js"></script>
	<script src="./js/chosen.min.js"></script>
	<script src="./js/slick.js"></script>
	<script src="./js/jquery.elevateZoom.min.js"></script>
	<script src="./js/jquery.actual.min.js"></script>
	<script src="./js/fancybox/source/jquery.fancybox.js"></script>
	<script src="./js/lightbox.min.js"></script>
	<script src="./js/owl.thumbs.min.js"></script>
	<script src="./js/jquery.scrollbar.min.js"></script>
	<script src='https://ditu.google.cn/maps/api/js?key=AIzaSyC3nDHy1dARR-Pa_2jjPCjvsOR4bcILYsM'></script>
	<script src="./js/frontend-plugin.js"></script>
</body>
</html>